flows (1).json
[{"id":"550ac558.ba6c8c","type":"inject","z":"9156bdc8.1ea73","name":"Fuktsensor","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"5","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"21","payloadType":"num","x":150,"y":160,"wires":[["a6526cdf.c474c"]]},{"id":"a408b3fd.e35b9","type":"switch","z":"9156bdc8.1ea73","name":"Temp check","property":"payload","propertyType":"msg","rules":[{"t":"lte","v":"20","vt":"str"},{"t":"gt","v":"20","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":570,"y":180,"wires":[["98cee4ce.00b988"],["f7ec3743.a71e58"]]},{"id":"d88214f5.ce9698","type":"debug","z":"9156bdc8.1ea73","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1010,"y":120,"wires":[]},{"id":"ddf982b1.9adb5","type":"debug","z":"9156bdc8.1ea73","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1010,"y":220,"wires":[]},{"id":"98cee4ce.00b988","type":"change","z":"9156bdc8.1ea73","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"ON","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":760,"y":140,"wires":[["d88214f5.ce9698"]]},{"id":"f7ec3743.a71e58","type":"change","z":"9156bdc8.1ea73","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"OFF","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":790,"y":220,"wires":[["ddf982b1.9adb5"]]},{"id":"a6526cdf.c474c","type":"random","z":"9156bdc8.1ea73","name":"","low":"15","high":"30","inte":"true","property":"payload","x":350,"y":180,"wires":[["a408b3fd.e35b9"]]}]
