flows (1).json
[{"id":"550ac558.ba6c8c","type":"inject","z":"5e793393.19d1a4","name":"Humidity Sensor","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"5","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"21","payloadType":"num","x":150,"y":120,"wires":[["a6526cdf.c474c"]]},{"id":"a408b3fd.e35b9","type":"switch","z":"5e793393.19d1a4","name":"Temp check","property":"payload","propertyType":"msg","rules":[{"t":"lte","v":"20","vt":"str"},{"t":"gt","v":"20","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":370,"y":340,"wires":[["98cee4ce.00b988"],["f7ec3743.a71e58"]]},{"id":"98cee4ce.00b988","type":"change","z":"5e793393.19d1a4","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"Vattna :(","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":580,"y":300,"wires":[["bb200f57.05f59"]]},{"id":"f7ec3743.a71e58","type":"change","z":"5e793393.19d1a4","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"Vattna inte :)","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":580,"y":380,"wires":[["bb200f57.05f59"]]},{"id":"a6526cdf.c474c","type":"random","z":"5e793393.19d1a4","name":"","low":"15","high":"30","inte":"true","property":"payload","x":320,"y":120,"wires":[["9eb92d4d.0d3ab8"]]},{"id":"825c9463.892b88","type":"ui_text","z":"5e793393.19d1a4","group":"76acc8ab.e739f8","order":0,"width":0,"height":0,"name":"","label":"Humidity","format":"{{msg.payload}}","layout":"row-spread","x":400,"y":520,"wires":[]},{"id":"9eb92d4d.0d3ab8","type":"mqtt out","z":"5e793393.19d1a4","name":"","topic":"KYH/sensor/humidity","qos":"","retain":"","broker":"2b3b286c.0d6ac","x":540,"y":120,"wires":[]},{"id":"945ea264.c2dcf","type":"mqtt in","z":"5e793393.19d1a4","name":"","topic":"KYH/sensor/humidity","qos":"2","datatype":"auto","broker":"2b3b286c.0d6ac","x":160,"y":340,"wires":[["a408b3fd.e35b9"]]},{"id":"add41686.4145a8","type":"mqtt in","z":"5e793393.19d1a4","name":"","topic":"KYH/sensor/humidity","qos":"2","datatype":"auto","broker":"2b3b286c.0d6ac","x":160,"y":520,"wires":[["825c9463.892b88","b52bc2af.63f31"]]},{"id":"b52bc2af.63f31","type":"ui_chart","z":"5e793393.19d1a4","name":"","group":"76acc8ab.e739f8","order":6,"width":0,"height":0,"label":"Humidity","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":410,"y":580,"wires":[[]]},{"id":"bb200f57.05f59","type":"ui_text","z":"5e793393.19d1a4","group":"76acc8ab.e739f8","order":6,"width":0,"height":0,"name":"","label":"LCD","format":"{{msg.payload}}","layout":"row-spread","x":850,"y":340,"wires":[]},{"id":"76acc8ab.e739f8","type":"ui_group","name":"KYH","tab":"c7c8230f.0fc358","order":1,"disp":true,"width":"6","collapse":false},{"id":"2b3b286c.0d6ac","type":"mqtt-broker","name":"StroidMQ","broker":"192.168.1.100","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"c7c8230f.0fc358","type":"ui_tab","name":"KYH","icon":"dashboard","disabled":false,"hidden":false}]
