flows (1).json
[{"id":"cd401464.7fe728","type":"inject","z":"f6f2187d.f17ca8","name":"Humidity Sensor","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"5","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"21","payloadType":"num","x":130,"y":240,"wires":[["e4f93934.bccbe8"]]},{"id":"e1c88c9a.9c631","type":"switch","z":"f6f2187d.f17ca8","name":"Temp check","property":"payload","propertyType":"msg","rules":[{"t":"lte","v":"20","vt":"str"},{"t":"gt","v":"20","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":370,"y":460,"wires":[["de49b9e5.a42508"],["a0e05d3f.220f"]]},{"id":"de49b9e5.a42508","type":"change","z":"f6f2187d.f17ca8","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"Vattna :(","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":580,"y":420,"wires":[["3d68443e.f2ebdc"]]},{"id":"a0e05d3f.220f","type":"change","z":"f6f2187d.f17ca8","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"Vattna inte :)","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":580,"y":500,"wires":[["3d68443e.f2ebdc"]]},{"id":"e4f93934.bccbe8","type":"random","z":"f6f2187d.f17ca8","name":"","low":"15","high":"30","inte":"true","property":"payload","x":320,"y":240,"wires":[["6c8d9e5b.b5ea7"]]},{"id":"a5e5bbc4.541638","type":"ui_text","z":"f6f2187d.f17ca8","group":"76acc8ab.e739f8","order":0,"width":0,"height":0,"name":"","label":"Humidity","format":"{{msg.payload}}","layout":"row-spread","x":400,"y":640,"wires":[]},{"id":"6c8d9e5b.b5ea7","type":"mqtt out","z":"f6f2187d.f17ca8","name":"","topic":"KYH/sensor/humidity","qos":"","retain":"","broker":"2b3b286c.0d6ac","x":540,"y":240,"wires":[]},{"id":"b7937efe.3eec1","type":"mqtt in","z":"f6f2187d.f17ca8","name":"","topic":"KYH/sensor/humidity","qos":"2","datatype":"auto","broker":"2b3b286c.0d6ac","x":160,"y":460,"wires":[["e1c88c9a.9c631"]]},{"id":"d88fa007.49ca6","type":"mqtt in","z":"f6f2187d.f17ca8","name":"","topic":"KYH/sensor/humidity","qos":"2","datatype":"auto","broker":"2b3b286c.0d6ac","x":160,"y":640,"wires":[["a5e5bbc4.541638","faffdf2b.cb6cf"]]},{"id":"faffdf2b.cb6cf","type":"ui_chart","z":"f6f2187d.f17ca8","name":"","group":"76acc8ab.e739f8","order":6,"width":0,"height":0,"label":"Humidity","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":410,"y":700,"wires":[[]]},{"id":"3d68443e.f2ebdc","type":"ui_text","z":"f6f2187d.f17ca8","group":"76acc8ab.e739f8","order":6,"width":0,"height":0,"name":"","label":"LCD","format":"{{msg.payload}}","layout":"row-spread","x":810,"y":460,"wires":[]},{"id":"626328cc.b3c008","type":"inject","z":"f6f2187d.f17ca8","name":"Temperature Sensor","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"24","payloadType":"num","x":130,"y":300,"wires":[["e85bde2d.d71ca"]]},{"id":"e85bde2d.d71ca","type":"random","z":"f6f2187d.f17ca8","name":"","low":"15","high":"25","inte":"true","property":"payload","x":320,"y":300,"wires":[["987f5424.f75068"]]},{"id":"987f5424.f75068","type":"mqtt out","z":"f6f2187d.f17ca8","name":"","topic":"KYH/sensor/temp","qos":"","retain":"","broker":"705efba2.43eb14","x":530,"y":300,"wires":[]},{"id":"6031b4e5.aa7c4c","type":"mqtt in","z":"f6f2187d.f17ca8","name":"","topic":"KYH/sensor/temp","qos":"2","datatype":"auto","broker":"705efba2.43eb14","x":150,"y":800,"wires":[["27722046.7f2cf","b7b82f5.ca17ad"]]},{"id":"27722046.7f2cf","type":"ui_text","z":"f6f2187d.f17ca8","group":"bb8ff7d0.b31808","order":0,"width":0,"height":0,"name":"","label":"Temperature","format":"{{msg.payload}}","layout":"row-spread","x":410,"y":780,"wires":[]},{"id":"b7b82f5.ca17ad","type":"ui_chart","z":"f6f2187d.f17ca8","name":"","group":"bb8ff7d0.b31808","order":1,"width":0,"height":0,"label":"Temperature","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":410,"y":840,"wires":[[]]},{"id":"76acc8ab.e739f8","type":"ui_group","name":"KYH","tab":"c7c8230f.0fc358","order":1,"disp":true,"width":"6","collapse":false},{"id":"2b3b286c.0d6ac","type":"mqtt-broker","name":"StroidMQ","broker":"192.168.1.100","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"705efba2.43eb14","type":"mqtt-broker","name":"StroidMQ","broker":"192.168.1.100","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"bb8ff7d0.b31808","type":"ui_group","name":"KYH","tab":"98aba6a7.5cf298","order":1,"disp":true,"width":"6","collapse":false},{"id":"c7c8230f.0fc358","type":"ui_tab","name":"KYH","icon":"dashboard","disabled":false,"hidden":false},{"id":"98aba6a7.5cf298","type":"ui_tab","name":"KYH","icon":"dashboard","disabled":false,"hidden":false}]
